body {
  font-family: "Roboto", sans-serif;
}
.hero{
  background: url('../../images/bg-hero.jpg');
  padding: 20px 0 50px 0;
}
.hero p {
  font-size: 18px;
}
.logo{
  width: 220px;
  padding: 20px;
}
.mobile-download{
  width: 380px;
  padding: 20px;
}
section{
  padding: 55px 0;
}
h2{
  padding: 0 0 65px 0;
}

.fa{
  font-size: 120px;
  padding-bottom: 20px;
  color: #535353;
}
p.description{
  font-weight: 300;
  font-size: 17px;
  padding: 10px 20px;
}

footer{
  background: #11434b;
  color: #BDBDBD;
  padding: 25px;
  font-weight: 300;
}
footer a{
  color: #BDBDBD;
}

.logo-footer{
  width: 100px;
  padding: 20px;
}

.container-fluid{
  overflow: hidden;
}

.micro-menu{
  color: white;
  /* border: 1px solid red; */
  /* overflow: hidden; */
}

.micro-menu a{
  margin: 0 10px;
  border-radius: 4px;
  border: 1px solid rgba(255,255,255,0.5);
  padding: 10px 20px !important;
  color: white;
  font-weight: 300;
  /* text-decoration: underline; */
}
.micro-menu a:hover{
  /* opacity: 0.5; */
  background: white;
  color: #20D4B1;
}
.micro-menu a.first{
  border-right: 1px solid rgba(255,255,255,0.3);
}

.form-request{
  background: #2A2A2A;
  color: white;
  font-weight: 300;
}

.form-request label{
  font-weight: 300;
}
