body {
  font-family: "Roboto", sans-serif;
}
.hero{
  background: url('../../images/bg-hero.jpg');
  padding: 20px 0 50px 0;
}
.hero p {
  font-size: 18px;
}
.logo{
  width: 220px;
  padding: 20px;
}
.mobile-download{
  width: 380px;
  padding: 20px;
}
section{
  padding: 55px 0;
}
h2{
  padding: 0 0 50px 0;
}

.fa{
  font-size: 120px;
  padding-bottom: 20px;
  color: #535353;
}
p.description{
  font-weight: 300;
  font-size: 17px;
  padding: 10px 20px;
}

footer{
  background: #11434b;
  color: #BDBDBD;
  padding: 25px;
  font-weight: 300;
}
footer a{
  color: #BDBDBD;
}

.logo-footer{
  width: 100px;
  padding: 20px;
}

.container-fluid{
  overflow: hidden;
}

.micro-menu{
  color: white;
  /* border: 1px solid red; */
  overflow: hidden;
}

.micro-menu a{
  padding: 15px;
  color: white;
  font-weight: 300;
}
.micro-menu a.first{
  border-right: 1px solid rgba(255,255,255,0.3);
}
